{% extends "leilao/base.html" %}
{% block content %}
    <h2>Sair</h2>

    <div class="border-top pt-3">
        <small class="text-muted">
            <a href="{% url 'login' %}">Realize o login novamente</a>
        </small>
    </div>
{% endblock content%}