{% extends "leilao/base.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_open|date:"d/m/Y - H:i" }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                <p class="article-content">Valor: {{ post.value }}</p>
                <p class="article-content">Usado: {{ post.used }}</p>
                <p class="article-content">Situação: {{ post.sold }}</p>
                {% if post.sold == 'Vendido' %}
                    <p class="article-content">Data: {{ post.date_close|date:"d/m/Y - H:i" }}</p>
                {% endif %}
            </div>
        </article>
    {% endfor %}
{% endblock content %}
