{% extends "leilao/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Deletar Postagem</legend>
                <h2>Tem certeza que deseja excluir esta postagem "{{ object.title }}"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Sim, Excluir</button>
                <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">Cancelar</a>
            </div>
        </form>
    </div>
{% endblock content %}